:root {
  --primary: #646cff;
  --primary-dark: #3f48ff;
  --primary-light: #9da1ff;
  --primary-text: #ffffff;
  --secondary: #292828;
}

html, body {
  background-color: var(--secondary);
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  margin: 0;
  background-color: var(--primary-dark);
  color: var(--primary-text);
  padding: 8px;
}

h2 {
  font-size: 18px;
  color: var(--primary-text);
}